.LogInBtn{
    margin-top:10%;
}

/*.headerClass{
    --background: #2dd36f;
}*/

.error{
    color:red;
    font-size: small;
}

.passwordIcon{
    padding-top:5%;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-top: 5%;
  }