<ion-header>
  <ion-toolbar class="headerClass">
  </ion-toolbar>
</ion-header>

<ion-content>

  <form  [formGroup]="registrationForm" (ngSubmit)="onRegister()" >
    <ion-grid>
      <ion-row>
        <ion-col size-sm=6 offset-sm=3>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" formControlName="email" ></ion-input>
          </ion-item>
          <ion-item lines="none" *ngIf="registrationForm.get('email').invalid && registrationForm.get('email').touched">
            <ion-label><p class="error">Enter a valid email adress</p></ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm=3 offset-sm=3>
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
          <ion-item lines="none" *ngIf="registrationForm.get('password').invalid && registrationForm.get('password').touched">
            <ion-label><p class="error">Password must contain at least one capital letter,number <br> and a special character($@$!%*?&)</p></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size-sm=3>
          <ion-item>
            <ion-label position="floating">Confirm password</ion-label>
            <ion-input type="password" formControlName="confirmPassword"></ion-input>
          </ion-item>
          <ion-item lines="none" *ngIf="registrationForm.get('confirmPassword').invalid && registrationForm.get('confirmPassword').touched">
            <ion-label><p class="error">Passwords do not match</p></ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm=6 offset-sm=3>
          <ion-button class="regBtn" shape="round" type="submit" expand="block" size="large" [disabled]="registrationForm.invalid">
            Register</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm=6 offset-sm=3>
          <ion-button class="alreadyRegBtn" shape="round" expand="block" size="small" position="floating"
            class="alreadyRegLbl" button routerLink="/login" fill="clear">I already have an account</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>