/* Without setting height the slides will take up the height of the slide's content */
ion-slides {
    height: 50%;
}

ion-avatar{
    height:100%;
}

ion-progress-bar{
    width:90%;
}

.watter-modal-class {
    background: #222;
    --background: #222;
}

// .trackerHeading{
//     padding-right: 5%;
// }
