<ion-header>
  <ion-toolbar>

    <!--  -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <!--  -->

    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <!-- <h1>Slide 1</h1> -->
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          <ion-card-title>1</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <!-- <h1>Slide 2</h1> -->
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          <ion-card-title>2</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <!-- <h1>Slide 3</h1> -->
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          <ion-card-title>3</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <br>
  
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button class="button button-block" size="large">Watter</ion-button> 
      </ion-col>
      <ion-col>
        <ion-row>
        <ion-title>30%</ion-title>
        </ion-row>
        <ion-row>
          <ion-progress-bar value="0.3"></ion-progress-bar>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button class="button button-block" size="large">Food</ion-button> 
      </ion-col>
      <ion-col>
        <ion-row>
          <ion-title>60%</ion-title>
        </ion-row>
        <ion-row>
          <ion-progress-bar value="0.6"></ion-progress-bar>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button class="button button-block" size="large">Sleep</ion-button> 
      </ion-col>
      <ion-col>
        <ion-row>
          <ion-title>80%</ion-title>
        </ion-row>
        <ion-row>
          <ion-progress-bar value="0.8"></ion-progress-bar>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button class="button button-block" size="large">Mood</ion-button> 
      </ion-col>
      <ion-col>
        <ion-row>
          <ion-title>0%</ion-title>
        </ion-row>
        <ion-row>
          <ion-progress-bar value="0.0"></ion-progress-bar>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button class="button button-block" size="large">Activity</ion-button> 
      </ion-col>
      <ion-col>
        <ion-row>
          <ion-title>80%</ion-title>
        </ion-row>
        <ion-row>
          <ion-progress-bar value="0.8"></ion-progress-bar>
        </ion-row>
      </ion-col>
    </ion-row>



    </ion-grid>



  <!-- <ion-button class="button button-block" size="large">Voda</ion-button> 
  <ion-button class="button button-block" size="large">Hrana</ion-button>   
  <ion-button class="button button-block" size="large">San</ion-button>
  <ion-button class="button button-block" size="large">Raspolozenje</ion-button>   
  <ion-button class="button button-block" size="large">Aktivnost</ion-button> -->
  
</ion-content>