  <ion-menu side="start" contentId="main2">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Helsevita</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list lines="none">

        <ion-item button routerLink="/user-settings">
          <ion-icon name="person-circle" slot="start"></ion-icon>
            <ion-label>
              My profile
            </ion-label>
        </ion-item>

        <ion-item button routerLink="/trackers-history">
          <ion-icon name="bar-chart" slot="start"></ion-icon>
            <ion-label>
              Trackers history
            </ion-label>
        </ion-item>

        <!-- Napraviti da je ova opcija vidljiva samo adminima -->
        <ion-item button routerLink="/blog-posts-admin" *ngIf="showAdminButtons()">
          <ion-icon name="settings" slot="start"></ion-icon>
            <ion-label>
              Blog post management
            </ion-label>
        </ion-item>
        <!--  -->

        <ion-item button routerLink="/users-management-admin" *ngIf="showAdminButtons()">
          <ion-icon name="people-circle" slot="start"></ion-icon>
            <ion-label>
              Users management
            </ion-label>
        </ion-item>

        <ion-item button (click)="onLogOut()">
          <ion-icon name="exit" slot="start"></ion-icon>
            <ion-label>
              Log out
            </ion-label>
        </ion-item>
      
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main2"></ion-router-outlet>

<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="explore">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="closest-gyms">
      <ion-icon name="barbell"></ion-icon>
      <ion-label>Closest training centers</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="healthy-recepies">
      <ion-icon name="fast-food"></ion-icon>
      <ion-label>Healthy recepies</ion-label>
    </ion-tab-button>


  </ion-tab-bar>
</ion-tabs>