<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="explore">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="closest-gyms">
      <ion-icon name="barbell"></ion-icon>
      <ion-label>Closest training centers</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="activity">
      <ion-icon name="fast-food"></ion-icon>
      <ion-label>Healthy recepies</ion-label>
    </ion-tab-button>


  </ion-tab-bar>
</ion-tabs>