<ion-header>
  <ion-toolbar class="headerClass" color="primary">
    <!--  -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <!--  -->
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <!-- SLIDER -->
  <ion-slides pager="true" [options]="slideOpts">

    <ion-slide>
      <!-- <h1>Slide 1</h1> -->
      <ion-card>
        <ion-card-header>
          <ion-img *ngIf="blogPosts.length!=0" class="sliderImg" src="{{blogPosts[blogPosts.length-1].imageUrl}}">
          </ion-img>
          <ion-card-title *ngIf="blogPosts.length!=0">{{blogPosts[blogPosts.length-1].heading}}</ion-card-title>
        </ion-card-header>
        <ion-card-content *ngIf="blogPosts.length!=0">
          {{blogPosts[blogPosts.length-1].description}}
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <!-- <h1>Slide 2</h1> -->
      <ion-card>
        <ion-card-header>
          <ion-img *ngIf="blogPosts.length!=0" class="sliderImg" src="{{blogPosts[blogPosts.length-2].imageUrl}}">
          </ion-img>
          <ion-card-title *ngIf="blogPosts.length!=0">{{blogPosts[blogPosts.length-2].heading}}</ion-card-title>
        </ion-card-header>
        <ion-card-content *ngIf="blogPosts.length!=0">
          {{blogPosts[blogPosts.length-2].description}}
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <!-- <h1>Slide 3</h1> -->
      <ion-card>
        <ion-card-header>
          <ion-img *ngIf="blogPosts.length!=0" class="sliderImg" src="{{blogPosts[blogPosts.length-3].imageUrl}}">
          </ion-img>
          <ion-card-title *ngIf="blogPosts.length!=0">{{blogPosts[blogPosts.length-3].heading}}</ion-card-title>
        </ion-card-header>
        <ion-card-content *ngIf="blogPosts.length!=0">
          {{blogPosts[blogPosts.length-3].description}}
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
  <!-- SLIDER -->

  <br>

  <ion-list>
    <ion-list-header>
        <h1>
          Daily Trackers
        </h1>
    </ion-list-header>

    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size=5>
            <img class="customImgClass1" src="assets/img/water.png">
          </ion-col>
          <ion-col size=6>
            <h2>water</h2>
            <ion-label class="customClass">
              <ion-progress-bar value="{{waterPercentage}}"></ion-progress-bar>
              <ion-progress-bar value="{{waterPercentage}}"></ion-progress-bar>
              <ion-progress-bar value="{{waterPercentage}}"></ion-progress-bar>
            </ion-label>
            <ion-label>
              <p>{{waterUdeo}}%</p>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-button fill="none" (click)="presentWaterModal()">
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size=5>
            <img class="customImgClass2" src="assets/img/food.png">
          </ion-col>
          <ion-col size=6>
            <h2>food</h2>

            <ion-label class="customClass">
              <h2>carbohydrates</h2>
              <ion-progress-bar value="{{carbsUdeo}}"></ion-progress-bar>
              <ion-progress-bar value="{{carbsUdeo}}"></ion-progress-bar>
              <ion-progress-bar value="{{carbsUdeo}}"></ion-progress-bar>
            </ion-label>
            <ion-label>
              <p>{{carbsPercentage}}%</p>
            </ion-label>

            <ion-label class="customClass">
              <h2>protein</h2>
              <ion-progress-bar value="{{proteinUdeo}}"></ion-progress-bar>
              <ion-progress-bar value="{{proteinUdeo}}"></ion-progress-bar>
              <ion-progress-bar value="{{proteinUdeo}}"></ion-progress-bar>
            </ion-label>
            <ion-label>
              <p>{{proteinPercentage}}%</p>
            </ion-label>

            <ion-label class="customClass">
              <h2>fats</h2>
              <ion-progress-bar value="{{fatsUdeo}}"></ion-progress-bar>
              <ion-progress-bar value="{{fatsUdeo}}"></ion-progress-bar>
              <ion-progress-bar value="{{fatsUdeo}}"></ion-progress-bar>
            </ion-label>
            <ion-label>
              <p>{{fatsPercentage}}%</p>
            </ion-label>

          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-button fill="none" (click)="presentFoodModal()">
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size=5>
            <img class="customImgClass3" src="assets/img/sleep.png">
          </ion-col>
          <ion-col size=6>
            <h2>sleep</h2>
            <ion-label class="customClass">
              <ion-progress-bar value="{{sleepUdeo}}"></ion-progress-bar>
              <ion-progress-bar value="{{sleepUdeo}}"></ion-progress-bar>
              <ion-progress-bar value="{{sleepUdeo}}"></ion-progress-bar>
            </ion-label>
            <ion-label>
              <p>{{sleepPercentage}}%</p>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-button fill="none" (click)="presentSleepModal()">
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size=5>
            <img class="customImgClass4" src="assets/img/mind.png">
          </ion-col>
          <ion-col size=6>
            <h2>mind</h2>
            <ion-label class="customClass">
              <ion-progress-bar value="{{mindStateUdeo}}"></ion-progress-bar>
              <ion-progress-bar value="{{mindStateUdeo}}"></ion-progress-bar>
              <ion-progress-bar value="{{mindStateUdeo}}"></ion-progress-bar>
            </ion-label>
            <ion-label>
              <p>{{mindStatePercentage}}%</p>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-button fill="none" (click)="presentMoodModal()">
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item lines="none">
      <ion-grid>
        <ion-row>
          <ion-col size=5>
            <img class="customImgClass5" src="assets/img/activity.png">
          </ion-col>
          <ion-col size=6>
            <h2>activity</h2>
            <ion-label class="customClass">
              <ion-progress-bar value="{{distanceUdeo}}"></ion-progress-bar>
              <ion-progress-bar value="{{distanceUdeo}}"></ion-progress-bar>
              <ion-progress-bar value="{{distanceUdeo}}"></ion-progress-bar>
            </ion-label>
            <ion-label>
              <p>{{distancePercentage}}%</p>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-button fill="none" (click)="presentActivityModal()">
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-button>
    </ion-item>

  </ion-list>

</ion-content>