<ion-header>
  <ion-toolbar class="headerClass">
    <!--  -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <!--  -->
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <!-- SLIDER -->
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <!-- <h1>Slide 1</h1> -->
      <ion-card>
        <ion-card-header>
          <ion-img class="sliderImg" src="{{blogPosts[0].imageUrl}}"></ion-img>
          <ion-card-title>{{blogPosts[0].heading}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{blogPosts[0].description}}
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <!-- <h1>Slide 2</h1> -->
      <ion-card>
        <ion-card-header>
          <ion-img class="sliderImg" src="{{blogPosts[1].imageUrl}}"></ion-img>
          <ion-card-title>{{blogPosts[1].heading}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{blogPosts[1].description}}
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <!-- <h1>Slide 3</h1> -->
      <ion-card>
        <ion-card-header>
          <ion-img class="sliderImg" src="{{blogPosts[2].imageUrl}}"></ion-img>
          <ion-card-title>{{blogPosts[2].heading}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{blogPosts[2].description}}
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
  <!-- SLIDER -->

  <!-- <ion-list>
    <app-blog-post *ngFor="let blogPost of blogPosts" [blogPost]="blogPost"></app-blog-post>
  </ion-list> -->

  <br>

  <ion-list>
    <ion-list-header>
      <h1>
        Daily Trackers
      </h1>
    </ion-list-header>

    <ion-item button (click)="presentWaterModal()">
      <ion-grid>
        <ion-row>
          <ion-col size=5 >
              <img class="customImgClass1" src="assets/img/water.png">
          </ion-col>
          <ion-col size=6>
            <h2>water</h2>
            <ion-label class="customClass" >
              <ion-progress-bar value="{{waterPercentage}}"></ion-progress-bar>
            </ion-label>
            <ion-label >
              {{waterUdeo}}%
            </ion-label>           
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-icon name="chevron-forward"></ion-icon>
    </ion-item>

    <ion-item button (click)="presentFoodModal()">
      <ion-grid>
        <ion-row>
          <ion-col size=5>
              <img class="customImgClass2" src="assets/img/food.png">
          </ion-col>
          <ion-col size=6>
            <h2>food</h2>

            <ion-label class="customClass" >
              <h2>carbohydrates</h2>
              <ion-progress-bar value="{{carbsUdeo}}"></ion-progress-bar>
            </ion-label>
            <ion-label >
              {{carbsPercentage}}%
            </ion-label> 
            
            <ion-label class="customClass" >
              <h2>protein</h2>
              <ion-progress-bar value="{{proteinUdeo}}"></ion-progress-bar>
            </ion-label>
            <ion-label >
              {{proteinPercentage}}%
            </ion-label>   

            <ion-label class="customClass" >
              <h2>fats</h2>
              <ion-progress-bar value="{{fatsUdeo}}"></ion-progress-bar>
            </ion-label>
            <ion-label >
              {{fatsPercentage}}%
            </ion-label>   

          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-icon name="chevron-forward"></ion-icon>
    </ion-item>

    <ion-item button (click)="presentSleepModal()">
      <ion-grid>
        <ion-row>
          <ion-col size=5 >
              <img class="customImgClass3" src="assets/img/sleep.png">
          </ion-col>
          <ion-col size=6>
            <h2>sleep</h2>
            <ion-label class="customClass" >
              <ion-progress-bar value="{{sleepUdeo}}"></ion-progress-bar>
            </ion-label>
            <ion-label >
              {{sleepPercentage}}%
            </ion-label>           
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-icon name="chevron-forward"></ion-icon>
    </ion-item>

    <ion-item button (click)="presentMoodModal()">
      <ion-grid>
        <ion-row>
          <ion-col size=5 >
              <img class="customImgClass4" src="assets/img/mind.png">
          </ion-col>
          <ion-col size=6>
            <h2>mind</h2>
            <ion-label class="customClass" >
              <ion-progress-bar value="{{waterUdeo}}"></ion-progress-bar>
            </ion-label>
            <ion-label >
              {{waterPercentage}}%
            </ion-label>           
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-icon name="chevron-forward"></ion-icon>
    </ion-item>

    <ion-item button (click)="presentActivityModal()">
      <ion-grid>
        <ion-row>
          <ion-col size=5 >
              <img class="customImgClass5" src="assets/img/activity.png">
          </ion-col>
          <ion-col size=6>
            <h2>activity</h2>
            <ion-label class="customClass" >
              <ion-progress-bar value="{{waterUdeo}}"></ion-progress-bar>
            </ion-label>
            <ion-label >
              {{waterPercentage}}%
            </ion-label>           
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-icon name="chevron-forward"></ion-icon>
    </ion-item>

  </ion-list>

</ion-content>