ion-slides {
    height: 50%;
}

ion-avatar{
    height:100%;
    width:20%;
}

ion-progress-bar{
    width:90%;
}

.watter-modal-class {
    background: #222;
    --background: #222;
}

.sliderImg{
    height: 100px;
}

ion-card{
    width:80%;
    height:80%;
}


