<ion-header>
  <ion-toolbar class="headerClass" color="primary">
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="userDataForm" (ngSubmit)="onDataEntered()">
    <ion-grid>
      <ion-row>
        <ion-col size-sm=3 offset-sm=3>
          <ion-item>
            <ion-label position="floating">Name</ion-label>
            <ion-input type="text" formControlName="name"></ion-input>
          </ion-item>
          <ion-item lines="none" *ngIf="userDataForm.get('name').invalid && userDataForm.get('name').touched">
            <ion-label><p class="error">Name is required</p></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size-sm=3>
          <ion-item>
            <ion-label position="floating">Surname</ion-label>
            <ion-input type="text" formControlName="surname"></ion-input>
          </ion-item>
          <ion-item lines="none" *ngIf="userDataForm.get('surname').invalid && userDataForm.get('surname').touched">
            <ion-label><p class="error">Surname is required</p></ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm=3 offset-sm=3>
          <ion-item>
            <ion-label position="floating">Age</ion-label>
            <ion-input type="number" formControlName="age"></ion-input>
          </ion-item>
          <ion-item lines="none" *ngIf="userDataForm.get('age').invalid && userDataForm.get('age').touched">
            <ion-label><p class="error">You must be at least 18 years old</p></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size-sm=3>
          <ion-item>
            <ion-label position="floating">Gender</ion-label>
            <ion-select formControlName="gender" placeholder="Select One">
              <ion-select-option value="Female">Female</ion-select-option>
              <ion-select-option value="Male">Male</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item lines="none" *ngIf="userDataForm.get('gender').invalid && userDataForm.get('gender').touched">
            <ion-label><p class="error">You must choose a geneder</p></ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm=3 offset-sm=3>
          <ion-item>
            <ion-label position="floating">Height (cm)</ion-label>
            <ion-input type="number" formControlName="height"></ion-input>
          </ion-item>
          <ion-item lines="none" *ngIf="userDataForm.get('height').invalid && userDataForm.get('height').touched">
            <ion-label><p class="error">You must enter height</p></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size-sm=3>
          <ion-item>
            <ion-label position="floating">Weight (kg)</ion-label>
            <ion-input type="number" formControlName="weight"></ion-input>
          </ion-item>
          <ion-item lines="none" *ngIf="userDataForm.get('weight').invalid && userDataForm.get('weight').touched">
            <ion-label><p class="error">You must enter weight</p></ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm=4 offset-sm=3>
          <ion-radio-group value="Normal/Average" formControlName="bodyType">
            <ion-list-header>
              <ion-label>Body type</ion-label>
            </ion-list-header>
            <ion-item>
              <ion-label>Skinny</ion-label>
              <ion-radio slot="end" value="Skinny"></ion-radio>
            </ion-item>

            <ion-item>
              <ion-label>Normal/average</ion-label>
              <ion-radio slot="end" value="Normal/Average"></ion-radio>
            </ion-item>

            <ion-item>
              <ion-label>Above average</ion-label>
              <ion-radio slot="end" value="AboveAverage"></ion-radio>
            </ion-item>

            <ion-item>
              <ion-label>Athletic/Muscular</ion-label>
              <ion-radio slot="end" value="Athletic/Muscular"></ion-radio>
            </ion-item>

            <ion-item>
              <ion-label>Very muscular</ion-label>
              <ion-radio slot="end" value="VeryMuscular"></ion-radio>
            </ion-item>

            <ion-item>
              <ion-label>Obese/Fat</ion-label>
              <ion-radio slot="end" value="Obese/Fat"></ion-radio>
            </ion-item>
          </ion-radio-group>
          <ion-item lines="none" *ngIf="userDataForm.get('bodyType').invalid && userDataForm.get('bodyType').touched">
            <ion-label><p class="error">You must choose a bodyType</p></ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm=3 offset-sm=3>
          <ion-item>
            <ion-label position="floating">Activity level</ion-label>
            <ion-select formControlName="activityLevel" placeholder="Select One">
              <ion-select-option value="No activity">No activity</ion-select-option>
              <ion-select-option value="Little activity">Little activity</ion-select-option>
              <ion-select-option value="Moderate activity">Moderate activity</ion-select-option>
              <ion-select-option value="Strong activity">Strong activity</ion-select-option>
              <ion-select-option value="Very strong activity">Very strong activity</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item lines="none" *ngIf="userDataForm.get('activityLevel').invalid && userDataForm.get('activityLevel').touched">
            <ion-label><p class="error">You must choose an activity level</p></ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm=3 offset-sm=3>
          <ion-list-header>Goal</ion-list-header>
          <ion-item>
            <ion-segment (ionChange)="segmentChanged($event)" formControlName="goal">
              <ion-segment-button value="Lean bulk" class="goalLbl" button (click)="presentPopoverLeanBulk(null)">
                <ion-label>Lean bulk</ion-label>
              </ion-segment-button>
              <ion-segment-button value="Bulk" class="goalLbl" button (click)="presentPopoverBulk(null)">
                <ion-label>Bulk</ion-label>
              </ion-segment-button>
              <ion-segment-button value="Weight loss" class="goalLbl" button (click)="presentPopoverWeightLoss(null)">
                <ion-label>Weight loss</ion-label>
              </ion-segment-button>
            </ion-segment>
          </ion-item>
          <ion-item lines="none" *ngIf="userDataForm.get('goal').invalid && userDataForm.get('goal').touched">
            <ion-label><p class="error">You must choose a goal</p></ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm=3 offset-sm=3>
          <ion-list-header>
            <p>Choose your avatar</p>
          </ion-list-header>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm=3 offset-sm=3>

          <ion-radio-group value="image choise" formControlName="avatar">
            <ion-item>
              <ion-avatar slot="start">
                <img src="assets/img/Avatar1.png">
              </ion-avatar>
              <ion-label>
                <p>Avatar1</p>
              </ion-label>
              <ion-radio slot="end" color="primary" value="assets/img/Avatar1.png"></ion-radio>
            </ion-item>

            <ion-item>
              <ion-avatar slot="start">
                <img src="assets/img/Avatar2.png">
              </ion-avatar>
              <ion-label>
                <p>Avatar2</p>
              </ion-label>
              <ion-radio slot="end" color="primary" value="assets/img/Avatar2.png"></ion-radio>
            </ion-item>

            <ion-item>
              <ion-avatar slot="start">
                <img src="assets/img/Avatar3.png">
              </ion-avatar>
              <ion-label>
                <p>Avatar3</p>
              </ion-label>
              <ion-radio slot="end" color="primary" value="assets/img/Avatar3.png"></ion-radio>
            </ion-item>
          </ion-radio-group>
          <ion-item lines="none" *ngIf="userDataForm.get('avatar').invalid && userDataForm.get('avatar').touched">
            <ion-label><p class="error">You must choose an avatar</p></ion-label>
          </ion-item>       
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm=6 offset-sm=3>
          <ion-button [disabled]="userDataForm.invalid" shape="round" expand="block" size="large" type="submit">Continue</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
      </ion-row>
    </ion-grid>

  </form>


</ion-content>