<ion-header>
  <ion-toolbar class="headerClass">
    <ion-title>Users management</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="landing"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <h1>Registered users:</h1>
    </ion-list-header>
    <ion-item *ngFor="let regedUser of regedUsers">
      <ion-label>
        <h2>{{regedUser.id}}</h2>
        <h3>{{regedUser.email}}</h3>
      </ion-label>
    </ion-item>
  </ion-list>
  </ion-content>