<ion-header>
  <ion-toolbar class="headerClass">
    <!-- <ion-buttons slot="end">
      <ion-icon button name="close" (click)="dismiss()" size="large"></ion-icon>
    </ion-buttons> -->

    <ion-button (click)="dismiss()" slot="end" shape="round" size="small" position="floating" fill="clear"
      color="light">X
    </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid *ngIf="!editingForm">
    <ion-row>
      <ion-col size-sm=12>
        <ion-item>
          <ion-label position="floating" class="txtLbl">Add heading</ion-label>
          <ion-input type="text" [(ngModel)]="addedBlogPostHeading"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm=12>
        <ion-item>
          <ion-label position="floating" class="txtLbl">Add description</ion-label>
          <ion-textarea type="text" rows="6" cols="20" [(ngModel)]="addedBlogPostDescription"></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm=12>
        <ion-item>
          <ion-label position="floating" class="txtLbl">Add link to an image</ion-label>
          <ion-input type="text" [(ngModel)]="addedBlogPostImageUrl"></ion-input>
          <!-- EXAMPLE:  https://media3.s-nbcnews.com/i/newscms/2017_15/1206634/woman-drinking-water-tease-today-170410_bb7df024651d415ac135bfaf31c4f819.jpg -->
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item lines="none">
          <ion-button (click)="presentAlertAdd()" color="primary" size="large">Add blog-post</ion-button>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item lines="none">
          <!-- <ion-input type="text" [(ngModel)]="addedBlogPostImageUrl">{{addedBlogPostImageUrl}}</ion-input> -->
          <ion-button color="primary" size="large" (click)="presentPictureAdd(addedBlogPostImageUrl)">View image
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="charactersExceededErrorHeading==true">
      <ion-col size-sm=12>
        <ion-item lines="none" *ngIf="addedBlogPostHeading.length-20>0">
          <ion-label class="errorLbl" class="errorLbl">Heading is {{addedBlogPostHeading.length-20}} charters over the limit</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="charactersExceededErrorDescription==true">
      <ion-col size-sm=12>
        <ion-item lines="none" *ngIf="addedBlogPostDescription.length-160>0">
          <ion-label class="errorLbl" class="errorLbl">Description is {{addedBlogPostDescription.length-160}} charters over the limit</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-img class="sliderImg" src="{{this.viewImageWithLinkAdd}}"></ion-img>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="editingForm">
    <ion-row>
      <ion-col size-sm=12>
        <ion-item>
          <ion-label position="floating" class="txtLbl">Heading</ion-label>
          <ion-input type="text" value="{{selectedBlogPostHeading}}" [(ngModel)]="selectedBlogPostHeading" ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm=12>
        <ion-item>
          <ion-label position="floating" class="txtLbl">Description</ion-label>
          <ion-textarea type="text" rows="6" cols="20" value={{selectedBlogPostDescription}} [(ngModel)]="selectedBlogPostDescription"></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm=12>
        <ion-item>
          <ion-label position="floating" class="txtLbl">Image link</ion-label>
          <ion-input [(ngModel)]="selectedBlogPostImageURL" type="text" value=selectedBlogPostImageURL></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item lines="none">
          <ion-button (click)="presentAlertEdit()" color="secondary" size="large">Update blog post</ion-button>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item lines="none">
          <ion-button (click)="presentPictureEdit(selectedBlogPostImageURL)" color="secondary" size="large">View image
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="charactersExceededErrorHeadingEdit==true">
      <ion-col size-sm=12>
        <ion-item lines="none" *ngIf="selectedBlogPostHeading.length-20>0">
          <ion-label class="errorLbl" class="errorLbl">Heading is {{selectedBlogPostHeading.length-20}} charters over the limit</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="charactersExceededErrorDescriptionEdit==true">
      <ion-col size-sm=12>
        <ion-item lines="none" *ngIf="selectedBlogPostDescription.length-160>0">
          <ion-label class="errorLbl" class="errorLbl">Description is {{selectedBlogPostDescription.length-160}} charters over the limit</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-img class="sliderImg" src="{{this.viewImageWithLinkEdit}}"></ion-img>
    </ion-row>

  </ion-grid>

</ion-content>